
html {
}

body {
    background: #380914;
    padding: 0;
    margin: 0;
    font: 20px/30px 'Noto Sans', 'Tahoma', 'Arial', 'Helvetica', sans-serif;
}

main {
    position: absolute;
    /*1080x605*/
    width: 100vmin;
    height: 56vmin;
    left: 50%;
    margin-left:-50vmin;
    margin-top:20vmin;
    top:50%;
    background: #000000;
    position: relative;
}

